<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXE9XOu9W-yr0oHs-geQYJjzQ9UnsPcB4</string>
	<key>GCM_SENDER_ID</key>
	<string>296902325405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.briffini.academy</string>
	<key>PROJECT_ID</key>
	<string>course-c18bb</string>
	<key>STORAGE_BUCKET</key>
	<string>course-c18bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296902325405:ios:f96c041fe8d1258b969074</string>
</dict>
</plist>